

.field:not(:last-child) {
  margin-block-end: 10px;
}

.layout--twocol-bricks > .layout__region--middle {
  margin-bottom: 40px;
}

.layout--twocol-bricks > .layout__region--bottom {
  margin-top: 40px;
}

.layout--twocol-bricks > .layout__region--middle .resource-callout-box  {
  border: 1px solid #3333;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #eee;
}

.text-content {
  font-family: var(--font-sans);
  font-size: 1rem;
}

/**
 * Adjust flag module theming.
 */
#middle-callout-wrapper {
  float: right;
  min-width: 33%;
}

#middle-callout-wrapper .flag-favorite-resource {
  text-align: right;
  margin-bottom: 10px;
}

.flag-favorite-resource .ajax-progress-throbber {
  display: none;
}

.flag-favorite-resource a {
  border: 1px solid !important;
  padding: 9px;
  text-decoration: none;
}

.flag-favorite-resource.action-flag a:hover {
  background-color: var(--color-text-primary-medium);
  color: #fff;
}

.flag-favorite-resource.action-unflag a {
  background-color: var(--color-text-primary-medium);
  color: #fff;
}

.flag-favorite-resource.action-unflag a:hover {
  background-color: #fff;
  color: var(--color-text-primary-medium);
}
/**
 * Adjust field item listings.
 */
.field--name-field-available-to .field__item {
  float: left;
}

.field--name-field-available-to .field__item:after {
  content: ",";
  position: relative;
}

.field--name-field-available-to .field__item:last-child:after {
  content: none;
}

#edit-group-detail .field,
#edit-group-license .field,
#edit-group-governance .field,
#edit-group-storage-compute .field {
  grid-template-columns: calc(28.5% + 10px) calc(66.5% + 10px);
  display: grid;
  grid-column-gap: calc(5% - 20px);
}

#edit-group-governance .field--name-field-stakeholders {
  display: block;
}

#edit-group-governance .field--name-field-stakeholders table {
  width: 100%;
}

#edit-group-governance .field--name-field-stakeholders table th {
  text-align: left;
}

#edit-group-governance .field--name-field-stakeholders table .field {
  display: block;
}

#edit-group-governance .field--name-field-stakeholders .field__label {
  font-size: 1.7em;
  margin-top: 30px;
  color: #007C92;
  text-decoration: underline;
}

.field--label-inline .field__label, .field--label-inline > .field__item, .field--label-inline .field__items {
  line-height: 20px;
}

#edit-group-version-notes .views-field.views-field-field-versions li {
  list-style-type: none;
}

#edit-group-version-notes .field--name-field-version-notes {
  background-color: #eee;
  border: 1px solid;
  padding: 10px;
  border-radius: 7px;
}

#edit-group-version-notes p {
  margin-block-start: 0;
  margin-block-end: 0;
}

#edit-group-version-notes .view {
  gap: 0;
}